<div class="panel panel-default llcontainer">
  <div class="panel-heading">
    <h3 class="panel-title">{{translateTitle(currentNode)}}</h3>
  </div>
  <div class="panel-body">
    <div class="input-group-solid" role="radiogroup">
      <label class="radio-inline">
        <input id="bopeOn" type="radio" value="1" name="bope" ng-model="currentNode.data" aria-labelledby="onl" role="radio"/>
        <label id="onl" for="bopeOn" trspan="on"></label>
      </label>
      <label class="radio-inline">
        <input id="bopeOff" type="radio" value="0" name="bope" ng-model="currentNode.data" aria-labelledby="offl" role="radio"/>
        <label id="offl" for="bopeOff" trspan="off"></label>
      </label>
      <label class="radio-inline">
        <input id="bopeExpr" type="radio" value="-1" name="bope" ng-click="currentNode.data=''" ng-checked="currentNode.data!==0&&currentNode.data!=='0'&&currentNode.data!==1&&currentNode.data!=='1'" aria-labelledby="rulel" role="radio"/>
        <label id="rulel" for="bopeExpr" trspan="specialRule"></label>
      </label>
    </div>
  </div>
  <div class="panel-body input-group maxw" ng-if="currentNode.data!==0&&currentNode.data!=='0'&&currentNode.data!==1&&currentNode.data!=='1'">
    <textarea id="bopeValue" class="form-control" rows="2" ng-model="currentNode.data" aria-labelledby="rulel"/>
  </div>
</div>
<script type="text/menu">
[{
  "title": "cancel",
  "icon": "remove"
}]
</script>
